body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.row{
	display:flex;
	flex-wrap:wrap;
	max-height: 480px;
	
}
.container{
	max-width: 640px;
}
.scroll_list{
	overflow:auto;
	max-height:200px;
	width:280px;
}
